* {
  font-family: helvetica, arial, 'roboto', 'sans-serif';
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0px 20px;
}

a {
  color: #1E88E5;
  transition: .1s linear;
  &:hover {
    color: #01579B;
  }
  &:active, :visited {
    color: #303F9F;
  }
}

.main__title {
  text-align: center;
  margin: 20px 150px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0,0,0,.1);
  font-weight: 800;
  font-family: 'Poiret One', 'Josefin Sans', arial;
  font-size: 36px;
}

.main__description {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 65%;
  margin: 40px auto;
}

.sites {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  // overflow-y: hidden;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 180px;
  padding: 0px 0px 30px 0px;
  & .site {
    border: 1px solid #bec3c7;
    box-sizing: border-box;
    transition: .3s linear;
    &:hover {
      box-shadow: 0px 0px 30px rgba(0,0,0,.3);
      z-index: 100;
      // transform: scale(1.01);
    }
    & a {
      cursor: pointer;
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, rgba(154, 89, 181, .8), rgba(154, 89, 181, .3));
      position: relative;
      // z-index: -1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      & .site__details {
        transition: all .3s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // overflow-y: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        & .site__details--container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 100%;
          height: 100%;
          & .site__title {
            color: #fefdeb;
            transition: all .3s ease;
            text-shadow: 0px 0px 10px black;
            padding: 6px 10px;
            // margin: 0px 0px 18px 0px;
            margin: 0;
            display: block;
            width: 100%;
            text-align: left;
            & span {
              display: table;
              margin: 0 auto 0 6px;
              transition: all .3s ease;
              word-break: break-all;
            }
          }
          & .site__subtitle {
            flex: 1;
            transition: .3s ease;
            color: #fefdeb;
            font-size: 15px;
            text-shadow: 0px 0px 10px black;
            padding: 18px 40px 14px 40px;
            margin: 0;
            transform: translateY(200%);
            white-space: pre-line;
          }
          justify-content: flex-start;
          &:hover {
            background: linear-gradient(0deg, rgba(1, 1, 1, 0.85), rgba(1,1,1,.55));


            & .site__title {
              // position: relative;
              // animation: scroll 10s linear 0s infinite;
              text-shadow: none;
              margin: 18px 0px 0px 0px;
              & span {
                margin-left: 50%;
                transform: translateX(-50%);
              }
            }
            & .site__subtitle {
              // position: relative;
              // animation: scroll 10s linear 0s infinite;
              text-shadow: none;
              transform: translateY(0%);
            }
          }
        }
        @keyframes scroll {
          0% {
            top: 0;
          }
          18% {
            top: 0;
          }
          82% {
            top: -100%;
          }
          98% {
            top: -100%;
          }
          100% {
            top: 0;
          }
        }
        &.scrollable {
          & .site__details--container:hover {
            & .site__title, .site__subtitle {
              position: relative;
              animation: scroll 10s linear 0s infinite;
            }
          }
        }
      }
      & .site_thumb {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        & img {
          max-height: 90%;
          max-width: 90%;
          // object-fit: contain;
          box-shadow: 3px 8px 20px rgba(0,0,0,.3);
        }
      }
      & .site_background {
        overflow: hidden;
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: blur(10px) grayscale(50%);
          transform: scale(1.2);
        }
      }
      & > * {
        flex: 1;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.sites .site.small a .site__details .site__subtitle {
  padding: 10px;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.large {
  grid-column: span 2;
  grid-row: span 2;
}

.sites {

}

.details_window__container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  & .details_window {
    // padding: 25px 50px;
    margin: 10vh 0;
    text-align: center;
    width: 80vw;
    // min-height: 60vh;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0,0,0,.3);
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 400px 50px;
    grid-auto-rows: 300px;
    // align-items: flex-start;
    align-items: center;
    & .details_window__title {
      grid-column: 1/-1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .details_window__image--link {
      grid-column: 1/-4;
      margin: 0px 15px 0px 30px;
      cursor: pointer;
    }
    & .details_window__desc {
      grid-column: 4/-1;
      padding: 0px 50px;
      text-align: left;
    }
    & .details_window__link {
      text-align: center;
      grid-column: 2 / -2;
      & p, a {
        display: inline-block;
      }
      & i {
        opacity: 0;
        transition: .1s linear;
      }
      &:hover {
        & i {
          opacity: 1;
        }
      }
    }
    & img {
      max-width: 100%;
      max-height: 100%;
    }
    & .details_window__table {
      grid-column: 1 / -1;
      padding: 0px 50px;
      & table {
        border-collapse: collapse;
        & td, th {
          border: 1px solid #D5DADC;
          border: 1px solid #bec3c7;
        }
        & th {
          padding: 10px 50px;
          font-size: 1.2em;
        }
        & td {
          padding: 10px 50px;
        }
        & tr:nth-child(even) {
          background: #D5DADC;
        }
      }
    }
    & .details_window--close {
      $button-radius: 50px;
      width: $button-radius;
      height: $button-radius;
      position: absolute;
      top: -$button-radius;
      right: -$button-radius;
      border-radius: 50%;
      font-size: 20px;
      background: rgba(255,255,255,1);
      border: 1px solid rgba(240,240,240,.3);
      box-shadow: 4px 4px 10px rgba(0,0,0,.1);
      cursor: pointer;
      transition: all .2s linear;
      &:hover {
        border: 1px solid rgba(170,170,170,.2);
        box-shadow: 4px 4px 6px rgba(0,0,0,.2);
        transform: scale(1.01);
      }
      &:active {
        // border: 1px solid rgba(150,150,150,.3);
        box-shadow: 4px 4px 6px rgba(0,0,0,.2);
        transform: scale(0.98);
        border: 1px solid rgba(240,240,240,.3);
      }
    }
  }
}

.fullScreenImage {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.8);
  & a img {
    max-width: 95vw;
    max-height: 95vh;
  }
  & .fullScreenImage__close {
    position: fixed;
    top: 10px;
    right: 25px;
    font-size: 24px;
    color: #ecf0f1;
    border: none;
    background: none;
    cursor: pointer;
    transition: .1s linear;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    &.view_hide {
      transition: .5s linear;
    }
    &:hover {
      transform: scale(1.07);
      color: #D5DADC;
      text-shadow: 1px 1px 8px rgba(0,0,0,1);
    }
  }
}

.no_show {
  display: none;
}

.view_hide {
  opacity: 0;
}

@media only screen and (min-width: 950px) {
  .sites {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .details_window__container {
    & .details_window {
      width: 92vw;
      // height: 100%;
      grid-template-rows: 100px 300px;
      & .details_window--close {
        top: 0;
        right: 0;
      }
      & .details_window__image--link {
        margin: 0px 10px;
        grid-column: 1 / -1;
      }
      & .details_window__desc {
        grid-column: 1 / -1;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main__title {
    margin: 20px 0px;
  }
  .sites {
    grid-template-columns: repeat(2, 1fr);
  }
}
