* {
  font-family: helvetica, arial, "roboto", "sans-serif";
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  padding: 0px 20px;
}

a {
  color: #1E88E5;
  transition: 0.1s linear;
}
a:hover {
  color: #01579B;
}
a:active, a :visited {
  color: #303F9F;
}

.main__title {
  text-align: center;
  margin: 20px 150px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.15), 0 7px 12px rgba(0, 0, 0, 0.11);
  font-weight: 800;
  font-family: "Poiret One", "Josefin Sans", arial;
  font-size: 36px;
}

.main__description {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 65%;
  margin: 40px auto;
}

.sites {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 180px;
  padding: 0px 0px 30px 0px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.sites .site {
  border: 1px solid #bec3c7;
  box-sizing: border-box;
  transition: 0.3s linear;
}
.sites .site:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.sites .site a {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(154, 89, 181, 0.8), rgba(154, 89, 181, 0.3));
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sites .site a .site__details {
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.sites .site a .site__details .site__details--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.sites .site a .site__details .site__details--container .site__title {
  color: #fefdeb;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 10px black;
  padding: 6px 10px;
  margin: 0;
  display: block;
  width: 100%;
  text-align: left;
}
.sites .site a .site__details .site__details--container .site__title span {
  display: table;
  margin: 0 auto 0 6px;
  transition: all 0.3s ease;
  word-break: break-all;
}
.sites .site a .site__details .site__details--container .site__subtitle {
  flex: 1;
  transition: 0.3s ease;
  color: #fefdeb;
  font-size: 15px;
  text-shadow: 0px 0px 10px black;
  padding: 18px 40px 14px 40px;
  margin: 0;
  transform: translateY(200%);
  white-space: pre-line;
}
.sites .site a .site__details .site__details--container:hover {
  background: linear-gradient(0deg, rgba(1, 1, 1, 0.85), rgba(1, 1, 1, 0.55));
}
.sites .site a .site__details .site__details--container:hover .site__title {
  text-shadow: none;
  margin: 18px 0px 0px 0px;
}
.sites .site a .site__details .site__details--container:hover .site__title span {
  margin-left: 50%;
  transform: translateX(-50%);
}
.sites .site a .site__details .site__details--container:hover .site__subtitle {
  text-shadow: none;
  transform: translateY(0%);
}
@keyframes scroll {
  0% {
    top: 0;
  }
  18% {
    top: 0;
  }
  82% {
    top: -100%;
  }
  98% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.sites .site a .site__details.scrollable .site__details--container:hover .site__title, .sites .site a .site__details.scrollable .site__details--container:hover .site__subtitle {
  position: relative;
  animation: scroll 10s linear 0s infinite;
}
.sites .site a .site_thumb {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.sites .site a .site_thumb img {
  max-height: 90%;
  max-width: 90%;
  box-shadow: 3px 8px 20px rgba(0, 0, 0, 0.3);
}
.sites .site a .site_background {
  overflow: hidden;
}
.sites .site a .site_background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(10px) grayscale(50%);
  transform: scale(1.2);
}
.sites .site a > * {
  flex: 1;
  margin: 0;
  padding: 0;
}

.sites .site.small a .site__details .site__subtitle {
  padding: 10px;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.large {
  grid-column: span 2;
  grid-row: span 2;
}

.sites.control-grid .site {
  grid-column: span 1;
  grid-row: span 1;
}
.sites.control-details {
  grid-gap: 12px;
}
.sites.control-details .site {
  grid-column: span 2;
  grid-row: span 1;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.sites.control-details .site:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.sites.control-details .site a {
  display: flex;
  flex-direction: row;
  background: white;
}
.sites.control-details .site a .site_background {
  flex: 1;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  height: 100%;
  position: relative;
}
.sites.control-details .site a .site_thumb {
  width: 50%;
}
.sites.control-details .site a .site__details {
  position: static;
  flex: 1;
}
.sites.control-details .site a .site__details .site__details--container {
  position: relative;
}
.sites.control-details .site a .site__details .site__details--container .site__title {
  text-align: center;
  margin: 18px 0px 0px 0px;
  box-sizing: border-box;
  color: #2d3e50;
  text-shadow: none;
}
.sites.control-details .site a .site__details .site__details--container .site__title span {
  margin: 0;
  transform: translateX(0);
  text-align: center;
  width: 100%;
}
.sites.control-details .site a .site__details .site__details--container .site__subtitle {
  text-shadow: none;
  transform: translateY(0%);
  color: #2d3e50;
  padding: 8px;
}
.sites.control-details .site a .site__details .site__details--container .site__subtitle--cover {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
.sites.control-details .site a .site__details .site__details--container:hover {
  background: white;
}

.details_window__container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.35);
}
.details_window__container .details_window {
  margin: 10vh 0;
  text-align: center;
  width: 80vw;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 400px 50px;
  grid-auto-rows: 300px;
  align-items: center;
}
.details_window__container .details_window .details_window__title {
  grid-column: 1/-1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details_window__container .details_window .details_window__image--link {
  grid-column: 1/-4;
  margin: 0px 15px 0px 30px;
  cursor: pointer;
}
.details_window__container .details_window .details_window__desc {
  grid-column: 4/-1;
  padding: 0px 50px;
  text-align: left;
}
.details_window__container .details_window .details_window__link {
  text-align: center;
  grid-column: 2/-2;
}
.details_window__container .details_window .details_window__link p, .details_window__container .details_window .details_window__link a {
  display: inline-block;
}
.details_window__container .details_window .details_window__link i {
  opacity: 0;
  transition: 0.1s linear;
}
.details_window__container .details_window .details_window__link:hover i {
  opacity: 1;
}
.details_window__container .details_window img {
  max-width: 100%;
  max-height: 100%;
}
.details_window__container .details_window .details_window__table {
  grid-column: 1/-1;
  padding: 0px 50px;
}
.details_window__container .details_window .details_window__table table {
  border-collapse: collapse;
}
.details_window__container .details_window .details_window__table table td, .details_window__container .details_window .details_window__table table th {
  border: 1px solid #D5DADC;
  border: 1px solid #bec3c7;
}
.details_window__container .details_window .details_window__table table th {
  padding: 10px 50px;
  font-size: 1.2em;
}
.details_window__container .details_window .details_window__table table td {
  padding: 10px 50px;
}
.details_window__container .details_window .details_window__table table tr:nth-child(even) {
  background: #D5DADC;
}
.details_window__container .details_window .details_window--close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  right: -50px;
  border-radius: 50%;
  font-size: 20px;
  background: white;
  border: 1px solid rgba(240, 240, 240, 0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s linear;
}
.details_window__container .details_window .details_window--close:hover {
  border: 1px solid rgba(170, 170, 170, 0.2);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
.details_window__container .details_window .details_window--close:active {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  border: 1px solid rgba(240, 240, 240, 0.3);
}

.fullScreenImage {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}
.fullScreenImage a img {
  max-width: 95vw;
  max-height: 95vh;
}
.fullScreenImage .fullScreenImage__close {
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 24px;
  color: #ecf0f1;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.1s linear;
  text-shadow: 1px 1px 4px black;
}
.fullScreenImage .fullScreenImage__close.view_hide {
  transition: 0.5s linear;
}
.fullScreenImage .fullScreenImage__close:hover {
  transform: scale(1.07);
  color: #D5DADC;
  text-shadow: 1px 1px 8px black;
}

footer {
  margin-top: 50px;
}
footer .footer_main {
  padding: 20px;
  box-shadow: 0px -15px 20px rgba(1, 1, 1, 0.1);
  box-sizing: border-box;
}
footer .footer_main h4, footer .footer_main h5 {
  color: #333;
  text-align: center;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
}
footer .footer_main h4 {
  font-size: 18px;
  line-height: 20px;
}
footer .footer_main h5, footer .footer_main i {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.control__buttons {
  display: flex;
  padding: 10px;
}
.control__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  margin-right: 15px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.control__buttons button svg {
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.1s linear;
}
.control__buttons button svg .icon-control-1 {
  transition: 0.1s linear;
  fill: #3c97d3;
}
.control__buttons button svg .icon-control-2 {
  transition: 0.1s linear;
  fill: none;
  stroke: #297fb9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}
.control__buttons button:hover svg .icon-control-1 {
  fill: #59a6d9;
}
.control__buttons button:hover svg .icon-control-2 {
  stroke: #2e90d1;
}
.control__buttons button.active {
  border: 2px solid #206592;
}
.control__buttons button.active svg .icon-control-1 {
  fill: #2a81bb;
}
.control__buttons button.active svg .icon-control-2 {
  stroke: #206592;
}
.control__buttons button.active:hover svg .icon-control-1 {
  fill: #59a6d9;
}
.control__buttons button.active:hover svg .icon-control-2 {
  stroke: #2e90d1;
}

.no_show {
  display: none;
}

.view_hide {
  opacity: 0;
}

@media only screen and (min-width: 950px) {
  .sites {
    grid-template-columns: repeat(5, 1fr);
  }
  .sites.control-details {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  .sites.control-details {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 950px) {
  .sites.control-details {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .details_window__container .details_window {
    width: 92vw;
    grid-template-rows: 100px 300px;
  }
  .details_window__container .details_window .details_window--close {
    top: 0;
    right: 0;
  }
  .details_window__container .details_window .details_window__image--link {
    margin: 0px 10px;
    grid-column: 1/-1;
  }
  .details_window__container .details_window .details_window__desc {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 750px) {
  .sites.control-details {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .main__title {
    margin: 20px 0px;
  }

  .sites {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .main__title {
    margin: 20px 0px;
  }

  .sites {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=css/index.css.map */
